@font-face {
	font-family: alegra;
	src: url(../fonte/AlegraFont.otf);
}

body {
	background-image:url(../imagens/fundo.png);
}

h2 {
	background-Color: #F2F2F2;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #6c5823;
	color:#FFF;
	text-align:center;
	font-family:alegra;
	font-size: 50px;
}

fundo {
	width:450px;
	height:450px;
	border-width:5px;
	border-style:solid;
	margin:auto;
	position: relative;
	overflow: hidden;;
	z-index:1;
}

#fonte {
	font-family: alegra;
}
